body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgba(243, 202, 100, 0.32);
    width: 40%;
}

.header-title {
    position: relative;
    left: 12cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
    size: 110%;
}
.container1 div, .container2 div{
    border: 1px rgba(243, 202, 100, 0.32);
    padding: 10px;
}

.container1 {
    display:flex;
    padding: 5px;
}
.first-image{
    flex:1;
    order:1;
}
.second-image{
    flex:2;
    order:1;
}

.container2 {
    display: flex;
    padding: 5px;
    width: 91%;
    height: 90%;
}
.third-image{
    flex:3;
    order:1;
}
.fourth-image{
    flex:4;
    order: 2;
}

.text { 
    color: rgb(54, 111, 38, 1);
    position: relative;
    bottom: 11cm;
    left: 185mm;
    padding-top: 15mm
}

.content {
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 80%;
}

.smaller {
    font-size: 60%;
}

.Footer {
    position: relative;
    left: 12cm;
    margin-top: -5cm;
    font-family: 'Times New Roman', Times, serif;
}

.Date {
    font-size: 200%;
    position: relative;
    left: 12cm;
    margin-top: -5cm;
    line-height: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.address {
    font-size: 110%;
    position: relative;
    left: 13cm;
    margin-top: 1cm;
    line-height: 50%;
    font-family: Impact, fantasy;
}
